.expense-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 30px auto 10px auto;
}

.description-field {
  height: auto;
}

.button {
  margin-top: 10px;
  width: 150px;
}

.expense-form-area {
  background-color: rgb(235, 235, 235);
  flex: 1 2 20px;
  border-left: 1px solid rgb(196, 196, 196);
}

.text-area {
  height: 50px;
  width: 90%;
}
